/*  phpBB3 Style Sheet
    --------------------------------------------------------------
	Style name:			fachlehrerseite 
	Based on style:		prosilver
	Original author:	Tom Beddard ( http://www.subblue.com/ )
	Modified by:		phpBB Limited ( https://www.phpbb.com/ ) and Bernhard ( http://nachtelb.de)
    --------------------------------------------------------------
*/

/*  Modifcations to colours.css */

html, body {
	background-color: #D6D6D6;
}

.forum_link														{ background-image: none; }
.forum_read														{ background-image: none; }
.forum_read_locked												{ background-image: none; }
.forum_read_subforum											{ background-image: none; }
.forum_unread													{ background-image: none; }
.forum_unread_locked											{ background-image: none; }
.forum_unread_subforum											{ background-image: none; }

/*  Modifcations to common.css */

#wrap {
	max-width: 952px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 1220px), only screen and (max-device-width: 1220px) {
	#wrap {
		  margin-left: auto;
		  margin-right: auto;
	}
}
.headerbar {
	height: 110px;
}

/*  Modifcations to content.css */

ul.topiclist dt .list-inner2 {
	margin-right: 440px;
	padding-left: 5px;
	padding-right: 5px;
}

li.header dt .list-inner2 {
	margin-right: 440px;
}

dl.icon dt .list-inner2 {
	padding-left: 5px;					/* Space without forum-icon */
}

/*  Modifcations to imageset.css */

.imageset.site_logo {
	padding-left: 65px;
	padding-top: 65px;
}
